* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:root {
	--primary: #ffeb3b;
	--text: #212121;
	--restart-button: #cfd8dc;
	--new-button: #e3f2fd;
	--cell-hover : #E6E6E6;
}

html, body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	color: var(--text);
}

.app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.container {
	max-width: 400px;
	width: 100%;
	height: 100%;
	padding-top: 1px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.head {
	width: 100%;
	background-color: var(--primary);
	padding: 20px 30px;
	font-size: 1.3rem;
}

#game {
	width: 100%;
	aspect-ratio: 1 / 1;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	overflow: hidden;
}

#game.won .cell {
	background-color: #c8e6c9;
}

#game.lost .cell {
	background-color: #ffccbc;
}

#game.draw .cell {
	background-color: #ffe0b2;
}

.cell {
	width: 30%;
	flex-grow: 1;
	background-color: #ffffff;
	position: relative;
	cursor: pointer;
	transition: transform 0.05s linear;
	border: 1px solid var(--text);
}
@media (hover:hover) {
	.cell:hover {
		background-color: var(--cell-hover);
	}
}
.cell:active {
	background-color: var(--cell-hover);
}

.cell.filled {
	background-color: #ffffff;
	cursor: default;
}


.cell span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	font-size: 3rem;
	opacity: 0;
	transition: opacity, transform 0.1s linear;
}

.cell.x span.x{
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}
.cell.o span.o{
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}

.buttons {
	display: flex;
	width: 100%;
}

button {
	display: block;
	-webkit-tap-highlight-color: transparent;
	border: none;
	transition: all 0.1s;
	cursor: pointer;
	width: 100%;
	padding: 20px;
	margin-top: 30px;
	background-color: var(--primary);
	font-size: 1.3rem;
}
@media (hover: hover) {
	button:hover {
		color: #171e25;
		opacity: 0.9;
	}
}
button:active {
	opacity: 0.6;
}

button:disabled {
	pointer-events: none;
}
button.restart {
	background-color: var(--restart-button);
}
button.new-round {
	background-color: var(--new-button);
}
